.app__header {
  padding: 20px;
  border-bottom: 1px solid #efefef;
}

.app__header h1 {
  font-size: 20px;
  margin: 0;
}

.primary {
  color: #b0676b;
}

.app__container {
  display: flex;
  margin-top: 20px;
}

.app__leftNav {
  background-color: #fafbfd;
  flex-basis: 300px;
  margin: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.app__leftNav a {
  color: #9e9e9e;
  font-size: 16px;
  text-decoration: none;
  margin: 15px 0;
}

.app__leftNav a:hover,
.app__leftNav a:focus {
  color: #666;
  text-decoration: underline;
}

.app__leftNav a.active {
  color: #333;
}

.app__main {
  flex-grow: 1;
}

code {
  display: inline-block;
  margin-bottom: 10px;
}
